/* assets/css/style.module.css */
.rightBlock {
  background-color: #6172f3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.ellipse {
  position: absolute;
  width: 85%;
  height: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ellipseInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
}
.picture {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 85%;
  transform: translate(-50%, -50%);
}
.label {
  margin-bottom: 108px;
}
.title {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #e0eaff;
}
.description {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #e0eaffbf;
  opacity: 0.75;
}
